@model List<ServiceViewModel>




<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center d-flex ftco-animate">
            <a href="#" class="services-1">
                <span class="icon">
                    <i class="flaticon-analysis"></i>
                </span>
                <div class="desc">
                    <h3 class="mb-5">@item.Name</h3>
                </div>
            </a>
        </div>
    }
</div>