@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password Page";
}
@{
    Layout = null;
}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">AKIF</a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
        </div>
    </nav>
</header>
<partial name="Partials/_PageStyles" />
<div class="container-fluid" id="forgot-password">
    <div class="row">
        <h2 class="col-12 text-center">Forgot My Password</h2>
        <div class="col-6" id="viewBag">
            @if (ViewBag.Info != null)
            {
                <div class="alert alert-info">
                    @ViewBag.Info
                </div>
            }
        </div>
        <div class="col-12 col-md-6 offset-md-3">
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="site-btn">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>

<style>
    #forgot-password{
        margin-top: 200px;
        margin-bottom:300px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #viewBag {
        position: relative;
        left: 255px;
    }
</style>
<partial name="Partials/_PageScripts" />