@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password Page";
}

<div class="container-fluid" id="forgot-password">
    <div class="row">
        <h2 class="col-12 text-center">Forgot My Password</h2>
        <div class="col-12 col-md-6 offset-md-3">
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="site-btn">Send Reset Link</button>
            </form>
        </div>
    </div>
</div>

<style>
    #forgot-password{
        margin-top: 200px;
        margin-bottom:300px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
</style>