<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(ViewData["Title"] is null ? string.Empty : ViewData["Title"] + " - ")Akif's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <partial name="Partials/_PageStyles"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <partial name="Partials/_Navbar" />

    <partial name="Partials/_SliderItem" />
    
    @RenderBody()
    
    <partial name="Partials/_Footer" />

    <partial name="Partials/_PageScripts"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
